body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  background-color: #1e1e1e;
  color: white;
}

h1 {
  margin-top: 20px;
}

#editor {
  width: 90%;
  height: 80vh;
  margin-top: 20px;
  font-family: monospace;
  font-size: 16px;
  background-color: #2d2d2d;
  color: #ffffff;
  border: none;
  padding: 15px;
  border-radius: 10px;
  resize: none;
}
